

<div class="maincontainer">
  <!--  button for admin -->
  <div class="navAdmin">
    <div class="navLink"><a href="/users">Users lists</a></div>
  </div>
  <!--  end-->
  <div class="listsContainer">
      <form name="addList">
        <input type="text" name="userName" placeholder="user name">
        <input type="text" name="mentorName" placeholder=" mentor name">
        <button type="submit">Add</button>
      </form>
        <button class="logout">LOGOUT</button>
        <p><input type="checkbox" name="checkMyList" />  Только мои чек листы</p>
    <div class="showList__header">Lists</div>
    <div class="lists">
    {{#each lists}}
      <div class="list" id={{id}} data-id={{user_id}} data-usid={{../userId}}>
        <div>{{user}}</div>
        <a href="/checklist/{{id}}">Show</a>
        <button class="deleteList"></button>
      </div>
    {{/each}}
    </div>
  </div>
</div>
