<div class="headercontainer">
  <img src="/img/mountain.png" alt="logo" class="logo">
  <div class="headertitle">Чек-листы</div>
  {{#if admin}}
  <a href="/users"><button type="button" class="btn btn-secondary">Пользователи</button></a>
  {{/if}}
  <div>
    <div class="hiuser">{{userName}}</div>
    <button class="btn btn-secondary logout">Выйти</button>
  </div>
</div>

    

  <div class="listsContainer">

    <div class="centerContent">

  <form name="addList">
  <div class="mb-3 addinputs">
    <input type="text" name="userName" class="form-control" id="exampleInputEmail1" placeholder="Имя сотрудника">
    <input type="text" name="mentorName" class="form-control" id="exampleInputPassword1" placeholder="Имя наставника">
    <button type="submit" class="btn btn-primary addChB">Добавить</button>
  </div>
</form>

    </div>


<div class="centerContent">

  <div class="checkListCont">
  <p><input type="checkbox" name="checkMyList"/> Показать только мои чек-листы</p>
    <div class="lists">
    {{#each lists}}
      <div class="list part" id={{id}} data-id={{user_id}} data-usid={{../userId}}>
      <div class="namementor">
        <div>Сотрудник: {{user}}</div>
        <div>Наставник: {{mentor}}</div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{precent}}%;" aria-valuenow={{precent}} aria-valuemin="0" aria-valuemax="100">{{precent}}%</div>
        </div>
      </div>
        <div class="buttons">
          <a href="/checklist/{{id}}"><button type="button" class="btn btn-success">Открыть</button></a>
          <button type="button" class="btn btn-danger deleteList">Удалить</button>
          <div class="copy"></div>
        </div>
      </div>
    {{/each}}
    </div>

    </div>

    </div>
</div>
