<div class="headercontainer">
  <img src="/img/mountain.png" alt="logo" class="logo">
  <div class="headertitle">Высокая гора</div>
  {{#if admin}}
  <a href="/users"><button type="button" class="btn btn-secondary">Пользователи</button></a>
  {{/if}}
  <div>
    <div class="hiuser">{{userName}}</div>
    <button class="btn btn-secondary logout">Выйти</button>
  </div>
</div>

    

  <div class="listsContainer">

    <div class="centerContent">

  <form name="addList">
  <div class="mb-3 addinputs">
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Имя сотрудника">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Имя наставника">
    <button type="submit" class="btn btn-primary addChB">Добавить</button>
  </div>
</form>

    </div>


<div class="centerContent">
    <div class="showList__header">Lists</div>


        <p><input type="checkbox" name="checkMyList"/>  Только мои чек-листы</p>
    <div class="lists">
    {{#each lists}}
      <div class="list" id={{id}} data-id={{user_id}} data-usid={{../userId}}>
        <div>{{user}}</div>
        <a href="/checklist/{{id}}">Show</a>
        <button class="deleteList"></button>
      </div>
    {{/each}}
    </div>

    </div>
</div>
