<script defer src="/js/addUser.js"></script>


<div class="headercontainer">
  <img src="/img/mountain.png" alt="logo" class="logo">
  <div class="headertitle">Пользователи</div>
  <a href="/mainPage"><button type="button" class="btn btn-secondary">Чек-листы</button></a>
  <div>
    <div class="hiuser">{{userName}}</div>
    <button class="btn btn-secondary logout">Выйти</button>
  </div>
</div>

<div>

    <div>
        <h2>Добавить нового пользователя</h2>
        <p>Вы можете добавить нового пользователя и предоставить ему права администратора </p>
    </div>

    <div>
        <form name="addEmployeeForm" id="employeeForm">
            <input type="text" name="employeeName" placeholder="Input name">
            <input type="email" name="employeeMail" placeholder="Input email">
            <input type="password" name="employeePassword" placeholder="Input password">
            <select name="employeeRole" form="employeeForm">
                <option value="false">пользователь</option>
                <option value="true">администратор</option>
            </select>
            <button type="submit">Добавить</button>
        </form>
    </div>

    <h2>Пользовательские листы</h2>
    <div class="employeeUsers">
        {{#each newUsers}}
        <div class="employeeUser" id={{id}}>
            <div class="userInfo">{{name}} - {{email}} - Admin status: {{admin}}</div>
            <label for="selectChanger">Изменить роль:
                <select id="selectChanger"  name="newEmployeeRole">
                    <option value="false">пользователь</option>
                    <option value="true">администратор</option>
                </select>
                <button class="btnChangeRole">Выбрать</button>
            </label>

            <div>
                <button class="deleteUser">Удалить пользователя</button>
            </div>
        </div>
        {{/each}}
    </div>
    <button class="back"><a href="/mainPage"  class="text">На главную</a></button>
</div>
